maf_env


# Virtual environment
maf_env/

# Compiled Python files
__pycache__/
*.py[cod]
*.pyc
*.so

# Environment files
.env
maf_env/Scripts/pyvenv.cfg
maf_env/Scripts/

# VS Code settings
.vscode/

# Temporary logs & database files
*.log
*.sqlite3

# System files
.DS_Store
Thumbs.db

# Dependencies files
pip-wheel-metadata/